/** @category color */
.nb-color-red {
  color: $red;
}
.nb-color-orange {
  color: $orange;
}
.nb-color-yellow {
  color: $yellow;
}
.nb-color-green {
  color: $green;
}
.nb-color-blue {
  color: $blue;
}
.nb-color-purple {
  color: $purple;
}
.nb-color-gray {
  color: $gray;
}

/** @category background-color */
.nb-bgcolor-red {
  background-color: $bg-red;
}
.nb-bgcolor-orange {
  background-color: $bg-orange;
}
.nb-bgcolor-yellow {
  background-color: $bg-yellow;
}
.nb-bgcolor-green {
  background-color: $bg-green;
}
.nb-bgcolor-blue {
  background-color: $bg-blue;
}
.nb-bgcolor-purple {
  background-color: $bg-purple;
}
.nb-bgcolor-gray {
  background-color: $bg-gray;
}
