@import './common/var.scss';
@import './common/mixin.scss';

/** 
 * @dev contenteditable should not have any parent whose position is relative
 * to prevent browser(safari) remove empty text-content block.
 */

/** @purpose indent container */
.nb-editor, .nb-ui-layer {
  flex: 1;

  [data-nb-block] {
    min-height: $icon-size;
    padding: $block-padding 0;
    display: flex;

    .nb-block-handle-container {
      position: relative;
      width: 0;

      .nb-block-handle {
        position: absolute;
        top: 0;
        left: -$icon-size;
        height: 100%;
      }
    }

    .nb-block-body {
      flex: 1;
      display: grid;

      .nb-block-content {
        padding: $block-padding;
        // to fix invisible horizontal scrollbar in blocks like spreadsheet
        min-width: 0;
      }

      .nb-block-indent {
        margin-top: $block-padding;
        .nb-block-indent {
          padding-left: $icon-size;
          margin-bottom: -$block-padding;
        }
      }
    }
  }

  [data-nb-block-type="NOTE"] {
    & > .nb-block-body > .nb-block-indent > [data-nb-block] {
      /** @category note */
      &:not(.fill) {
        @include note-padding;
      }
      .nb-db-controller, .nb-db-container > .nb-db-content {
        @include nbdb-note-padding;
      }
    }
  }

  &.dragging {
    [data-nb-block-type="DATABASE"] {
      .nb-db-note-padding {
        opacity: 0;
      }
    }
  }
}

[data-nb-block].fill {
  .nb-block-content {
    padding: 0 !important;
  }
}

.nb-ui-layer {
  .nb-block-indent {
    padding-left: $icon-size;
  }
}

/** @purpose the top blocks to fill the width */
.nb-editor, .nb-ui-layer {
  width: 100%;
  padding-bottom: 10vh;

  &[contenteditable="false"] {
    padding-bottom: 3rem;
  }

  .nb-block-indent, .note-title {
    display: flex;
    flex-direction: column;
  }
}

// note-title
.nb-editor {
  [data-nb-block-type="NOTE"] {
    .note-title {
      flex: 1;
      margin: 0;
      display: flex;
      flex-direction: column;
      padding-top: $block-side;
      @include note-padding;

      [data-nb-dom-type="text"] {
        width: 100%;
        align-self: center;
        font-size: 2em !important;
        font-weight: bold;
      }
    }
  }
}

.nb-editor.card {
  padding: 0;
  display: flex;
  [data-nb-block-type="NOTE"] {
    flex: 1;
    display: flex;
    justify-content: center;
    .nb-block-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .note-title {
        flex-direction: row;
        padding-top: $icon-size;
        padding-bottom: $icon-size;
      }
    }
  }
}
